.login-container {
  background-color: blue;
  margin: 0;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
  font-family: "Jost", sans-serif;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
  padding-top: 80px;
  padding-left: 30%;
  padding-right: 30%;
}

h1 {
  text-align: center;
}

  .link {
margin-left: 20%;
text-decoration: none;
color: rgb(52,152,219);
font-size: 1.3rem;
position: absolute;
bottom: 420px;
right: 680px;
background-color: #f2f2f2; 
border: 2px solid #ccc; 
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.74); 
  }


link:hover {
  background: rgb(52, 152, 219);
}