.profileBody {
    min-height: 100vh;
    margin-top: none;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(to bottom right, #bdc3c7, #2c3e50);
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.profile-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 57rem;
    min-width: 60%;
    margin-top: 5%;
    background-color: #2b2e38;
    padding: 40px;
    border-radius: 10px;
    color: #333333;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

.profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
}

.profile-form-group {
    position: relative;
    background-color: #2b2e38;
    display: block;
    margin: 0;
    padding: 20px;
    border-radius: 25px;
    width: 100%;
    margin-bottom: 20px;
}

label {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
}

.profileInput {
    padding: 13px 20px;
    padding-left: 55px;
    height: 48px;
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: #c4c3ca;
    background-color: #1f2029;
    border: none;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2);
}

input:focus {
    outline: none;
    box-shadow: 0px 2px 4px rgba(107, 72, 255, 0.4);
}

.btn-primary {
    background-color: #6B48FF;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    font-weight: bold;
    padding: 15px 30px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #5A2FC2;
}

.taskContainer {
    min-width: 30%;
    margin-top: 5%;
    max-width: 600px;
    background-color: #2b2e38;
    padding: 40px;
    border-radius: 10px;
    color: #333333;
    height: 57rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.profileTask {
    margin-bottom: 10%;
    padding: 13px 20px;
    padding-left: 35px;
    height: fit-content;
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: white;
    background-color: #1f2029;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.pTasks {
    font-size: 15px;
    color: white;
}

.profileTask:hover {
    outline: none;
    box-shadow: 0px 2px 4px rgba(107, 72, 255, 0.4);
}

::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}