.App {
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background: linear-gradient(to top, #0f0c29, #302b63, #24243e);
    min-height: 100vh;
    height: fit-content;
    padding-top: 5%;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

input,
textarea {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

input:focus,
textarea:focus {
    outline: none;
}

button[type='submit'] {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.forms {
    background-color: #F2E6FF; 
}

.Note {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    width: 43%;
    margin: 5px;
    height: 25vh;
    background-color: white;
}

.notesDiv {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 100%;
}

.edit {
    margin-right: 20px;
    cursor: pointer;
}

.notesHeader {
    background-color: white;
    padding: 20px;
    width: 43%;
    margin: 0 auto;
    border-radius: 5px;
}

.noteText {
    height: 15vh;
    width: 100%;
}

.noteHeader {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.noteContent {
    display: flex;
    height: fit-content;
    width: 90%;
    flex-direction: column;
    flex-wrap: wrap;
}

.delete {
    color: red;
    cursor: pointer;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 0;
}