.App {
    margin: 0 auto;
    background: linear-gradient(to bottom right, #bdc3c7, #2c3e50) !important;
    min-height: 100vh;
    height: fit-content;
    padding-top: 5%;
}

input,
textarea {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

button[type='submit'] {
    padding: 10px;
    background-color: #ffeba7;
    color: black !important;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type='submit']:hover {
    background-color: #000000;
    color: #ffeba7 !important;
}

.Note {
    text-decoration: none;
    color: #000;
    background: #ffc;
    display: block;
    height: 15em;
    width: 15em;
    padding: 1em;
    box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    transform: rotate(-6deg);
    transition: transform .15s linear;
    margin-bottom: 5%;
}

.Note:nth-child(even) {
    transform: rotate(4deg);
    position: relative;
    top: 5px;
    background: #cfc;
}

.Note:nth-child(3n) {
    transform: rotate(-3deg);
    position: relative;
    top: -5px;
    background: #ccf;
}

.Note:nth-child(5n) {
    transform: rotate(5deg);
    position: relative;
    top: -10px;
}

.Note:hover,
.Note:focus {
    box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
    transform: scale(1.25);
    position: relative;
    z-index: 5;
}

.notesDiv {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    margin-top: 10%;
}

.edit {
    margin-right: 20px;
    cursor: pointer;
}

.noteText {
    font-family: 'Reenie Beanie';
    font-size: 2rem;
    max-width: 90%;
    background-color: transparent;
}

.noteHeader {
    font-weight: bold;
    font-size: 2rem;
    max-height: 10%;
    margin: 0;
}

.notes-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete {
    color: red;
    cursor: pointer;
}

.notesHeader {
    background-color: #1f2029;
    padding: 20px;
    width: 43%;
    margin: 0 auto;
    border-radius: 5px;
}

.editable:focus {
    outline: none;
}

.editable {
    background-color: transparent;
    width: 90%;
}

.newContent::placeholder {
    color: #ffeba7 !important;
}

.newContent:focus {
    outline: none;
    box-shadow: 0px 2px 4px rgba(107, 72, 255, 0.4);
}