.welcome {
    background: url("/public/livewires-logo.png") no-repeat center/cover;
 height: 100vh;
 width: 100vh;
 justify-content: center;
 text-align: center;
 margin: auto;

}

.h1welcome {
    text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
    text-align: center;
}

.h2welcome {
    text-align: center;
    text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
}

