.music-player-container {
    max-width: 800px;
    margin: 0 auto;
    overflow-x: scroll;
    height: 40px;
}

.music-player {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.songsList {
    overflow: scroll;
    max-height: 150px;
}

.music-dropdown {
    height: 100%;
    width: fit-content;
    position: relative;
    display: inline-block;
}

.music-dropdown-content {
    overflow: scroll;
    position: absolute;
    max-height: 50vh;
    min-width: 160px;
    z-index: 1;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

.music-dropdown-item .mucis-dropdown-content {
    padding: 5px 2px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

.playing {
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
}

.music-dropdown-content .music-dropdown-item:hover {
    color: red;
}

.music-dropdown:hover .nav-dropdown-content {
    display: block;
}

.music-player>div {
    flex-basis: calc(25% - 20px);
}

.music-player img {
    width: 100%;
    height: auto;
}

.radio {
    max-width: 60em;
    width: 100%;
}

.music-button {
    height: 25px;
}

.filters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2em;
    font-size: 1.2rem;
    width: 100%;
}

#filterNames {
    margin: 5px;
    padding: 2px;
    border: 1px solid black;
}

.stations {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    width: 100%;
}

.station {
    font-size: 1.2em;
    border: 1px solid rgb(76, 62, 95);
    margin: 0.25em;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stationName {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    width: 100%;
    align-items: center;
    justify-content: start;
}

.name {
    width: 100%;
    text-align: center;
}

.song-img {
    display: block;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: 2px solid rgb(76, 62, 95);
    margin: 0 0.25em;
}

audio {
    width: 100%;
}

.rhap_container.player {
    background-color: rgb(76, 62, 95);
    display: flex;
    justify-items: center;
    padding: 0.25em 0.75em;
    border-radius: 10px;
}

.rhap_stacked .rhap_controls-section {
    margin-top: 0 !important;
}

.rhap_controls-section .rhap_volume-controls {
    justify-content: center;
}

.rhap_controls-section .rhap_main-controls button[aria-label="Play"] svg path {
    fill: rgb(235, 235, 235) !important;
}

.rhap_controls-section .rhap_main-controls button[aria-label="Pause"] svg path {
    fill: #e36bae !important;
}

@media only screen and (max-width: 600px) {
    .stations {
        grid-template-columns: repeat(2, 50%);
    }

    img {
        display: none;
    }
}