.navbar {
    background-color: black;
    margin: 0 auto;
    text-align: center;
    font-family: Brush Script MT, cursive;
    font-size: large;
    padding: 20px;
    text-decoration: none;
}
.navbar a {
    color: white;
    font-size: 20px;
    text-decoration: none; 
    padding: 10px 20px; 
    transition: all 0.35 ease;
} 
.navbar a:hover { 
    background-color: #0099FF; 
    
}
