.navbar1 {
    background-color: black;
    margin: 0 auto;
    text-align: center;
    font-family: Brush Script MT, cursive;
    font-size: large;
    padding: 20px;
    text-decoration: none;
    height: 8vh;

}

.navbar2 {
    display: flex !important;
    justify-content: space-between !important;
    height: 8vh;
}

.navbar1 a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 20px;
    transition: all 0.35 ease;
}

.navbar1 a:hover {
    background-color: #0099FF;
}

.logout-button {
    background-color: #FF5733; /* Unique color scheme */
    border: none;
    border-radius: 8px;
    padding: 6px;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease;
    font-family: 'Times New Roman';
    font-size: small;
  }
  